
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
                    <img src="/img/menu-logo.png" alt="Deadzone">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
		<li><a class="page-link" href="{{ "/the-game/" | prepend: site.baseurl }}">The Game</a></li>
		<li><a class="page-link" href="{{ "/the-universe/" | prepend: site.baseurl }}">The Universe</a></li>
		<li><a class="page-link" href="{{ "/how-to/" | prepend: site.baseurl }}">How to</a></li>
		<li><a class="page-link" href="{{ "/community/" | prepend: site.baseurl }}">Community</a></li>
		<li><a class="page-link" href="{{site.storelink}}">Store</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
